<div class="card flex justify-content-center">
  <p-avatar
    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
    styleClass="mr-2"
    size="xlarge"
    shape="circle" />
  <p-card [header]="header">
      <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
      </p>
  </p-card>
</div>