<!-- <cv-bio></cv-bio> -->

<!-- @for (workplace of data(); track workplace.company) {
  <cv-work-place
    [company]="workplace.company"
    [position]="workplace.position"
    [start]="workplace.start"
    [end]="workplace.end"
    [responsibilities]="workplace.responsibilities"
    [stack]="workplace.stack"
  ></cv-work-place>
} -->


<div class="card flex justify-content-center">
  <p-accordion [multiple]="true" [activeIndex]="[0, 1, 2]">
      <p-accordionTab header="О себе">
        123
      </p-accordionTab>
      <p-accordionTab header="Опыт работы">
        <cv-work-experience [workplaces]="data()"></cv-work-experience>
      </p-accordionTab>
      <p-accordionTab header="Навыки">
        123
      </p-accordionTab>
  </p-accordion>
</div>