<div class="card flex justify-content-center" style="width: 100%">

  <p-accordion [multiple]="true" [activeIndex]="[]">

      <p-accordionTab header="О себе">
        <cv-bio
          [experience]="totalWorkExperience"
        ></cv-bio>
      </p-accordionTab>

      <p-accordionTab header="Опыт работы">
        <cv-work-experience
          [workplaces]="data()"
        ></cv-work-experience>
      </p-accordionTab>

      <p-accordionTab header="Портфолио">
        <cv-portfolio></cv-portfolio>
      </p-accordionTab>

  </p-accordion>
</div>
