    <div class="text">
      <h2>
        {{project?.name}}
      </h2>
      <div class="buttons">
        <p-button label="Github" icon="pi pi-github" (click)="redirectToWebsite(project.git)"/>
        <p-button label="Live demo" icon="pi pi-external-link" (click)="redirectToWebsite(project.link)"/>
      </div>
      <p class="description"> {{project?.description}}</p>

      <cv-stack
        [stack]="project.stack"
      ></cv-stack>
    </div>
    <p-galleria
      [value]="pics"
      [numVisible]="5"
      [circular]="true"
      [showItemNavigators]="true"
      [showThumbnails]="false"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item.url" />
      </ng-template>
    </p-galleria>
