:host {
  display: flex;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
  background-color: var(--highlight-bg);

  p-card {
    width: 100%;
  }

  ::ng-deep.p-card-content{
    //background-color: var(--highlight-bg);
    display: flex;
    align-items: center;
    gap: 2rem;
    @media (max-width: 700px) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  @media (max-width: 700px) {
    align-items: center;
    flex-direction: column;
  }

  .text {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 700px) {
      max-width: none;
    }

    h2 {
      text-align: center;
    }
    .description {
      flex-wrap: wrap;
    }

    .buttons {
      display: flex;
      gap: 1rem;
      justify-content: center;
      text-wrap: nowrap;
      @media (max-width: 900px) {
        gap: 0.5rem;
      }
    }
  }

  cv-stack {
    display: flex;
    justify-content: center
  }
}

p-galleria{
  padding: 0 0.5rem;
  flex: 1 1 auto;
  img {
    //width: 100%;
  }
}
